.my-btn {
  //height: 38px;

  &.btn {
    box-shadow: unset;

    &:focus {
      box-shadow: unset;
    }
  }

  &.btn-primary {
    &.focus,
    &:focus {
      box-shadow: unset;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }
}