.movie-card {
  margin: 10px 0!important;
  max-width: 250px;
  width: 250px;

  &.card {
    //height: 449px;
  }

  &.genre {
    color: lightgray;
    margin-left: 0;
    margin-bottom: 10px;
  }
}