.card {
  width: 90%;
  margin: 0 auto;
}

.movie {

  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid lightgray;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

    &__info {
      padding: 0 10px;
    }

    &__title {
      color: lightgray;
    }
  }

  &__choice {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;

    &__item {
      background: lightgray;
      color: white;
      padding: 8px 15px;
    }
  }

  &__info-item {
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }

  &__img {
    max-width: 300px;
  }

  &__overview {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: .25rem;
    margin: 0 10px;
  }
}